body{
  font-family: Arial, sans-serif;
}
main{
  
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  text-align: center;
  color: cornflowerblue;
}

h2 {
  text-align: left;
<<<<<<< HEAD
=======

}

p {
  text-align: left;
}

img {
  width: 45vw;
}

.place-rows {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;

}

.place-columns{
  margin: 1em;
  flex-grow: 1;
>>>>>>> de8e90c8cf474345529324b840a7d16aab81d62a

}

p {
  text-align: left;
}

img {
  width: 45vw;
}

.place-rows {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;

}

.place-columns{
  margin: 1em;
  flex-grow: 1;

}